.Todo-list-container {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    justify-content: center;
    margin-top: 10%;
    align-items: flex-start ;
    width: 60rem;
    border:1px solid black ;
    min-height: 20rem ;
    background-color: skyblue;
    border-radius:1rem;
}
.todo-form{
    border:1px solid black ;
    display:flex;
    width: 100px;
    margin-top: 3rem;
    font-size:2 rem;
    gap:2rem;

}
.todo-form input{
    border:1px solid black;
    font-size: 3.5rem;
    padding:1 rem;
    margin:1rem;
    box-shadow : 0.5rem 0.5rem 1rem rgba(27, 19, 19, 0.578)0, 0, 0, 0.5780, 0, 0, 0.578;
  
}
.todo-form input::placeholder{
    font-size: 2rem;
}
.todo-form button{
    border:1px solid black ;
    border-radius:1rem ;
    background-color: white;
    padding: 1rem;
    cursor :pointer;
    font-weight: 600;
    font-size:2.5rem;
}
.todo-form button:hover{
    background-color: black;
    color:white;
    font-weight:600;
}
.task-div{
    background-color: aliceblue;
    padding:2rem;
    display : flex;
    justify-content: space-between;
    align-items: center ;
    margin:2rem;
}
.todo-text{
    font-size :1.5rem;

}
.icons{
    display :flex;
    gap:3rem;
    font-size: 2.5rem;
    cursor:pointer;
}
.complete{
    text-decoration :line-through;
    opacity:0.5;
    background-color: greenyellow;
}
.hide{
    display:none;
}