body {
    background-color: #EEF0F2;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    justify-content: center;
    /* border:1px solid black ; */
    border-radius: 5px;
    min-height: 385px;
    /* background-color: #011638; */
}
.todo-form{
    display:flex;
    margin: 10px 30px;
    gap:2rem;

}
.todo-form input{
    width:900px;
    height:60px;
    font-size: 30px;
    padding: 5px;
    box-shadow : 0.5rem 0.5rem 0.5rem rgba(27, 19, 19, 0.578)0, 0, 0, 0.5780, 0, 0, 0.578;
  
}
.todo-form input::placeholder{
    font-size: 30px;
}
.todo-form button{
    border-radius: 5px;
    background-color: white;
    height: 60px;
    font-size: 24px;
    cursor :pointer;
}
.todo-form button:hover{
    background-color: #011638;
    color:white;
}
.task-div{
    background-color: aliceblue;
    padding:10px;
    border-radius: 5px;
    display : flex;
    justify-content: space-between;
    align-items: center ;
    margin:2rem;
}
.todo-text{
    font-size :25px;
    height: fit-content;

}
.icons{
    display :flex;
    gap:3rem;
    font-size: 2rem;
    cursor:pointer;
}
.complete{
    text-decoration :line-through;
    opacity:0.5;
    color: whitesmoke;
    background-color: #011638;
}
.hide{
    display:none;
}